


body {
  font-size: 20px;
  margin: 15px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

p {
  margin-right: 15px;
  text-align: justify;
}

img {
  max-width: 100%;
  
}

figure {
  margin: 60px;
}

figcaption {
  margin-top: 5px;
}



@media screen and (min-width: 794px) {
  
  body {
    margin: 50px;
    background-color: bisque;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 18px;;
  }
 
  main {
    position: flex;
    flex-direction: row;
  }
  figure {
    max-width: 30%;
    float: left;
    background-color: cadetblue;
    border-radius: 10px;;   
  }
  img { 
    width: 250px;
    max-width: 100%;
  }
  figcaption {
    text-align: center;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1300px) {
  body {
    background-color: chocolate;
    max-width: 1300px;
  }

}