div {
    width: 180px;
    height: 50px;
    margin: 30px;
}

div:hover {
    border-color:chartreuse;
    border-width: 5px;
    border-style: solid;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
li {
    list-style: none;
    list-style-position:unset;
}
li:nth-child(odd) {
    font-style: italic;
}