ol li {
    background-color: yellow;
    font-weight: bolder;
}

ol li:nth-child(even) {
    color: green
}

ol li:nth-child(odd) {
    text-transform:uppercase;
}

h1, h3 {
color: red
}

h1 {
   font-size: 40px;
   border: 1px;
   border-color: black;
   border-style: solid; 
}

li {
    font-size: 20px;
}

.prog {
    color: blue;
    background-color: pink;
}

.out {
    background-color: white;
}

a:hover {
    font-weight: bolder;
}

.stack:hover {
    color:orange;
}

.ws:hover {
    color: green;
}

.mdn:hover {
    color: black
}

.dev:hover {
    color: yellow
}

.trybe:hover {
    color: green
}